<%- include("partials/head.ejs") %>


    <body class="bg-dark">
        <div class="container">
            <form>

                <div class="card card-login mx-auto mt-5" style="width:25rem">
                    <div class="card-header">
                        <p>Recuperar Senha</p>
                    </div>
                    <div class="card-body">
                        <div class=" form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="digite seu email...">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-block">Recuperar Senha</button>
                        <a href="/" class="text-center">Página de Login</a>
                    </div>
                </div>
            </form>
        </div>
    </body>