<%- include("../partials/head.ejs") %>

    <body class="bg-dark">
        <div class="container">
            <form>
                <div class="card card-login mx-auto mt-5" style="width:25rem;">
                    <div class="card-header">
                        <label>Alterar senha</label>
                    </div>
                    <div class="card-body">
                        <label>Senha:</label>
                        <input class="form-control">
                        <label>Confirmar Senha:</label>
                        <input class="form-control">

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info btn-block">Confirmar</button>
                    </div>
                    <a href="/" class="text-center">Login</a>
                </div>
            </form>
        </div>
    </body>